@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import 'quill.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Lora, system-ui sans-serif;
}



/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* END Hamburger Menu */

.vyshyvanka-string {
    background-image: url("/resources/images/front/vyshyvanka.png");
    background-repeat: repeat;
    background-size: contain;
    min-height: 4rem;
}

/* FONT */
.font-mySans {
    font-family: "Montserrat", serif;
}

.font-myBree {
    font-family: "Bree", serif;
}

/* END FONT */

